* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin headings {
  @for $i from 1 to 6 {
    h#{$i} {
      @content;
    }

  }
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
}
