.div-wrapper {
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);


  width: 360px;
  height: 360px;
  padding: 20px;

  &__block {
    background-color: white;
  }

  .test {
    background-color: black;
  }
}
